<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Montage Popcorn.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D32362A7068A9C839F5864AF137827F763D3C2F4</string>
				<key>dateExpires</key>
				<string>11/28/18</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5A7Z7X9CUN.com.montagestudio.popcorn</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>5A7Z7X9CUN</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Montage Popcorn.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>519e3999-dae9-43bf-9056-69221a22a2c0</string>
				<key>name</key>
				<string>Montage Ad Hoc iOS Distribution</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5A7Z7X9CUN</string>
				<key>name</key>
				<string>Sylaps Inc</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
