<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://montagestudio.github.io/montage-sdk-mobile/ios/Montage Popcorn.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://montagestudio.github.io/montage-sdk-mobile/icon-76x76.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://montagestudio.github.io/montage-sdk-mobile/icon-1024x1024.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.montagestudio.popcorn</string>
				<key>bundle-version</key>
				<string>0.2.14</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Montage Popcorn</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
