* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background: #000;
    color: #fff;
    font-family: "SourceSansPro-Regular", "Arial";
    font-size:12px;
    overflow: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

strong {
    font-family: "SourceSansPro-Regular", "Arial";
}

input, input[type="button"], input[type="text"], input[type="reset"], input[type="submit"], textarea {
  font-family: "SourceSansPro-Regular", "Arial";
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* remove outline*/
video:focus,
textarea:focus,
input:focus,
a:focus,
button:focus {
    outline: 0 !important;
}

video {
  z-index: inherit;
}

/* Portrait layout (default) */
.app {
    text-align:center;
}


.show {
    display: initial;
}

.hidden {
    display: none;
}

.btn {
    padding: 10px 15px;
    margin: 15px;
    border: 3px solid #fff;
    text-align: center;
    color: #fff;
    background: #7097F5;
    border-radius: 50px;
    border-radius: 50px;
    font-size: 18px;
    line-height: 1.33;
}

#offline {

  position: absolute;
  top: calc(50vh - 150px/2);
  left: calc(50vw - 200px/2);
  width: 200px;
  height: 150px;
}


/*==================================================
 * loader
 * ===============================================*/

#loader {

  position: absolute;
  top: calc(50vh - 250px/2);
  left: calc(50vw - 250px/2);
  width: 250px;
  height: 250px;
  background: url('./../../img/logo.svg') no-repeat;
  background-size: 250px;
}
